<body>
 <div class="Cart-Container" href="/cart">
   <div class="Header">
    <h3 class="Heading">Корзина</h3>
    <h5 class="Action">Удалить всё</h5>
    </div>
    {{#each card}}
    <div class="Cart-Items">
      <div class="image-box">
    </div>
    <div class="about">
      <h1 class="title">{{title}}</h1>
      <h2 class="condition">{{condition}}</h2>
      <h2 class="city">{{city}}</h2>
      <h2 class="seller">{{user}}</h2>
    </div>
    <div class="prices">
      <div class="amount">{{price}}</div>
      <div class="order"><u>Заказать</u></div>
      <div class="remove"><u>Удалить</u></div>
    </div>
    {{/each}}
  </div>
 </div>
</body>
