<main>

  <div class="container">

    {{#each allCards}}
      <div class="card">
        <img src="{{image}}" class="card-img-top" alt="{{title}}" />
        <div class="card-body">
          <h5 class="card-title">Название: {{title}}</h5>
          <p class="card-text">Состояние: {{"Сondition.condition"}}</p>
          <p class="card-text">Цена: {{price}} ₽</p>
          <p class="card-text">Город: {{"User.City.name"}}</p>
          <a
            href="#"
            class="btn btn-primary btn-buy"
            data-id="{{id}}"
          >Купить</a>
        </div>
      </div>
    {{/each}}

  </div>
</main>
