<div class="container"><button type="button" class="btn btn-primary text-center mt-5" href="/users/profile/{{id}}/new">Создай новую карту</button>
</div>

<div class="container d-flex flex-wrap mt-5">
  <h2>Мои карты</h2>
<div class="container mt-5">
</div>
{{#each allCards}}
<div class="card-deck form-row text-center" >
  <div class="card" style="width: 18rem;">
  <div class="card-body" class="btn-group">
  <h5 class="card-title" name="title">{{title}}</h5>
  <h5 class="card-title" name="price">{{price}}</h5>
  <h5 class="card-title" src="{{image}}" name="image"></h5>
  <h5 class="card-title" name="condition">{{condition}}</h5>

  <a href="#" class="btn btn-secondary">Delete</a>
  <a href="#" class="btn btn-secondary">Edit</a>

</div>
</div>
</div>
{{/each}}
</div>
<h1>{{entry.title}}</h1>
